[submodule "roles/lock-root"]
	path = roles/lock-root
	url = git@github.com:TelegraphyInteractive/ansible-role-lock-root.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:TelegraphyInteractive/ansible-role-nginx.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = git@github.com:TelegraphyInteractive/ansible-role-mysql.git
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = git@github.com:geerlingguy/ansible-role-nodejs.git
