#!/bin/bash
# {{ ansible_managed }}
PATH="$HOME/.rbenv/bin:${PATH}"
eval "$(rbenv init -)"
rbenv install {{ ruby_version }}
rbenv global {{ ruby_version }}
rbenv rehash
gem install bundler
touch ~/.setup.rbenv.timestamp
